@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 120px;
  }

  html {
    font-family: 'Urbanist', sans-serif;
    font-optical-sizing: auto;
  }

  .screen-height {
    @apply h-[calc(100vh-var(--nav-height))];
  }
}
